.i-searchbar {
    text-align: center;
    left: auto;
}

.searchbar {
    border: solid rgb(182, 182, 182) 2px;
    border-radius: 8px;
    width: 75%;
    height: 60px;
}

.searchbar-icon {
    margin-left: -50px;
}